<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Atendente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-segment value="atendente">
    <ion-segment-button routerLink="/totem" value="totem">
      <ion-label>Totem</ion-label>
    </ion-segment-button>

    <ion-segment-button routerLink="/atendente" value="atendente">
      <ion-label>Atendente</ion-label>
    </ion-segment-button>

    <ion-segment-button routerLink="/painel" value="painel">
      <ion-label>Painel</ion-label>
    </ion-segment-button>
  </ion-segment>

  <br>

  <ion-button expand="block" size="large" color="primary" (click)="chamar()">
    Chamar Próxima Senha
  </ion-button>

  <h2 *ngIf="senha" style="margin-top: 20px; text-align:center;">
    Senha chamada: <strong>{{ senha }}</strong>
  </h2>

</ion-content>
